<div class="container">
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h3>BoomTech Employee Registration Form</h3>
    <hr />


  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" [class.is-invalid] formControlName="firstName">
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" formControlName="lastName">
  </div>

  <div class="form-group">
      <label>Department</label>
      <select id="department" class="form-control" formControlName="department">
        <option *ngFor="let dept of department" [value]="dept">{{ dept }}</option>
      </select>
  </div>

  <div class="form-group">
    <label>Email</label>
  <input type="text" class="form-control" formControlName="email">
  </div>

  <hr />
  <div class="form-group">
    <button type="submit" class="btn btn-warning">Register</button>
  </div>

</form>
</div>

<router-outlet></router-outlet>
